@import "tailwindcss";

@plugin "tailwindcss-motion";

@theme {
    --font-sans: "Funnel Display", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-text: #f1f2f4;
    --color-background: #030407;
    --color-primary: #7391d9;
    --color-secondary: #3c4d72;
    --color-accent: #f66c6a;
    --text-shadow-xl: 0 16px 32px;
    --text-shadow-2xl: 0 32px 64px;
    --shadow-custom: 0 4px 8px 0 rgba(114, 144, 216, 0.25);
}

@layer base {
    [data-theme='light'] {
        --color-text: rgb(11 12 14);
        --color-background: rgb(248 249 252);
        --color-primary: rgb(9 42 119);
        --color-secondary: rgb(141 158 195);
        --color-accent: rgb(149 11 9);
    }

    [data-theme='dark'] {
        --color-text: #F1F2F4;
        --color-background: #030407;
        --color-primary: #88A9F6;
        --color-secondary: #3C4C72;
        --color-accent: #F66C6A;
    }

    .gradientText {
        @apply bg-gradient-to-b from-primary to-secondary inline-block text-transparent bg-clip-text;
    }
}

html,
body {
    @apply bg-background text-text;

    background: radial-gradient(166.34% 70.71% at 50% 50%, var(--color-background, #030407) 0%, #0D1324 100%);

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }

    label {
        @apply text-lg text-primary;
    }

    input {
        @apply bg-secondary/20 rounded-2xl border border-secondary text-primary transition-all px-4 py-2
        focus:shadow-primary/25 focus:shadow-md focus:border-primary focus:outline-0
        placeholder:text-primary/40;
    }

    .clickable,
    button {
        @apply bg-gradient-to-b from-secondary/10 to-primary/10 p-2 text-base text-primary rounded-2xl
        border border-t-secondary/40 border-b-primary/40 border-x-primary/10
        disabled:opacity-40
        hover:border-b-primary hover:cursor-pointer hover:shadow-custom hover:shadow-primary/25 hover:to-primary/20 hover:from-secondary/20 hover:scale-[101%]
        transition-all
        ;
    }
}
