@import "tailwindcss";

@plugin "tailwindcss-motion";

@theme {
    --font-sans: "Funnel Display", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: "Google Sans Code", monospace;
    --color-text: #f1f2f4;
    --color-background: #030407;
    --color-background2: #0D1324;
    --color-primary: #7391d9;
    --color-secondary: #3c4d72;
    --color-accent: #f66c6a;
    --text-shadow-xl: 0 16px 32px;
    --text-shadow-2xl: 0 32px 64px;
    --shadow-custom: 0 4px 8px 0 ;
    --tracking-custom: 20%;
}

@layer base {
    [data-theme='light'] {
        --color-text: rgb(11 12 14);
        --color-background: rgb(248 249 252);
        --color-background2: #D5E3FF;
        --color-primary: rgb(9 42 119);
        --color-secondary: rgb(141 158 195);
        --color-accent: rgb(149 11 9);
    }

    [data-theme='dark'] {
        --color-text: #F1F2F4;
        --color-background: #030407;
        --color-background2: #0D1324;
        --color-primary: #88A9F6;
        --color-secondary: #3C4C72;
        --color-accent: #F66C6A;
    }

    .gradientText {
        @apply bg-gradient-to-b from-primary to-secondary inline-block text-transparent bg-clip-text;
    }
}

html,
body {
    @apply text-text transition-colors;

    background: radial-gradient(166.34% 70.71% at 50% 50%, var(--color-background, #030407) 0%, var(--color-background2, #0D1324) 100%);

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }

    label {
        @apply text-lg text-primary;
    }

    textarea,
    input {
        @apply bg-secondary/20 rounded-2xl border border-secondary text-primary transition-all px-4 py-2 focus:shadow-primary/25 focus:shadow-md focus:border-primary focus:outline-0 placeholder:text-primary/40;
    }

    .clickable {
        @apply bg-gradient-to-b from-secondary/10 to-primary/10 p-2 text-base text-primary rounded-2xl bg-transparent 
        border border-t-secondary/40 border-b-primary/40 border-x-primary/10 
        disabled:opacity-40
        hover:border-b-primary hover:cursor-pointer hover:shadow-custom hover:shadow-primary/25 hover:bg-secondary/10 
        hover:border-x-transparent hover:border-t-secondary/15 hover:scale-[101%] hover:text-shadow-md hover:text-shadow-primary/25 transition-all;
    }

    .clickableButAccent {
        @apply bg-gradient-to-b from-secondary/10 to-primary/10 p-2 text-base text-accent rounded-2xl bg-transparent
        border border-t-secondary/40 border-b-accent/40 border-x-primary/10 
        disabled:opacity-40
        hover:border-b-accent hover:cursor-pointer hover:shadow-custom hover:shadow-accent/25 hover:bg-secondary/10
        hover:border-x-transparent hover:border-t-secondary/15 hover:scale-[101%] hover:text-shadow-md hover:text-shadow-accent/25 transition-all;
    }
}
