@import "tailwindcss";

@plugin "tailwindcss-motion";

@theme {
    --font-sans: "Funnel Display", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --color-text: #f1f2f4;
    --color-background: #030407;
    --color-primary: #7391d9;
    --color-secondary: #3c4d72;
    --color-accent: #f66c6a;
    --text-shadow-xl: 0 16px 32px;
    --text-shadow-2xl: 0 32px 64px;
}

@layer base {
    [data-theme='light'] {
        --color-text: rgb(11 12 14);
        --color-background: rgb(248 249 252);
        --color-primary: rgb(9 42 119);
        --color-secondary: rgb(141 158 195);
        --color-accent: rgb(149 11 9);
    }

    [data-theme='dark'] {
        --color-text: #F1F2F4;
        --color-background: #030407;
        --color-primary: #88A9F6;
        --color-secondary: #3C4C72;
        --color-accent: #F66C6A;
    }

    .gradientText {
        @apply bg-gradient-to-b from-primary to-secondary inline-block text-transparent bg-clip-text;
    }
}

html,
body {
    @apply bg-background text-text;

    background: radial-gradient(166.34% 70.71% at 50% 50%, var(--color-background, #030407) 0%, #0D1324 100%);

    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }

    /* to be removed later */
    input {
        @apply border border-gray-300
    }

}
